:root {
    --slideshow-bg: #AFADAD;
}

#slideshow {
    background: url("../bilder/beats-traadlos.png");
    position: relative;
    right: 10%;
    left: 50%;
    top: -60%;
    bottom: 2em;
    width: 400px;
    height: 300px;
    border: 5px solid gray;
    border-radius: 2em;
    background-color: var(--slideshow-bg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    animation: slideshow 8s infinite;
}

@keyframes slideshow {
    0% { background-image: url("../bilder/beats-traadlos.png")}
    25% { background-image: url("../bilder/iphonex.png")}
    50% { background-image: url("../bilder/tv.jpeg")}
    75% { background-image: url("../bilder/ps4.jpeg")}    
}