body ul {
    background-image: grey;
    position: absolute;
    left: 40%;
    bottom: 40%;
    width: 20%;
    top: 40%;
 }

body ul {
    list-style-type: none;
    -webkit-padding-start: 0;
    }
     
body li {
    list-style: none;
    display: block;
    }
     
body li a {
    text-decoration: none;
    color:black;
    display: block;
    margin: 8px;
    text-align: center;
    padding-top:10px;
    height: 2em;
    background: linear-gradient(to bottom, grey,lightgray);
    border-radius: 5px;
    box-shadow: 3px 3px 3px gray; 
    }

 body li a:hover {
    box-shadow: 3px 3px 3px black; 
    }
     
body li a:active {
    transform: translate(2px,2px); 
    box-shadow: none; 
    }
     
body li a.showing {
    background: whitesmoke;
    color:blue;
    }